/* Header section */
header {
    background-image: url("/images/banner3.png");
    background-repeat: no-repeat;
    height: 808px;
    margin: 0 230px 130px;
    padding-right: 10px;
    position: relative;
    border-radius: 7px;
}

main {
    margin: 0 230px;
}

.banner-heading {
    font-size: 65px;
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    padding-top: 216px;
    text-align: right;
}

.banner-description {
    color: white;
    width: 494px;
    text-align: right;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    right: 0;
    display: block;
    padding-right: 10px;
}

.banner-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 130px;
    display: block;
    margin-right: 10px;
}

/* Personal Information section */

.personal-info {
    display: flex;
    align-items: center;
}

.personal-info-details {
    margin-left: 87px;
}

.personal-info-details h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.personal-info-description {
    width: 494px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.fa-solid {
    color: #16D887;
    margin-right: 10px;
}

/* My Plans Section */
.my-plans {
    margin: 130px 0;
}

.my-plans-heading {
    font-size: 40px;
    text-align: center;
}

.my-plans-description {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.my-plans-description p {
    color: #737272;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
}

/* Bonus Section */
.extra-section {
    width: 600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.666), skyblue);
    border-radius: 300px;
    margin-bottom: 130px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.extra-section h1 {
    padding: 100px 50px 0;
    line-height: 0px;
    font-size: 60px;
}

.extra-section h2 {
    color: white;
}

.extra-section textarea {
    margin-top: 60px;
    border-radius: 10px;

}

.extra-section button {
    font-size: 18px;
    color: skyblue;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: white;

}

/* Gradient Section */
.mindset {
    background-image: linear-gradient(to right, rgb(135, 207, 235), rgb(255, 255, 255));
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.mindset-info {
    width: 459px;
    font-size: 40px;
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    padding-left: 64px;
}

.mindset button {
    font-size: 18px;
    color: skyblue;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: white;

}

/* Footer */

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
    margin-top: 130px;
}

.footer-info {
    width: 485px;
}

.footer-info h1 {
    font-size: 45px;
}

footer p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
}

.footer-social {
    display: flex;
    gap: 10px;
}

input {
    width: 325px;
    height: 64px;
    font-size: 20px;
    padding-left: 10px;
    display: block;
    margin-bottom: 16px;
    border-radius: 15px;
}

footer button {
    width: 170.11px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background-color: skyblue;
    border-radius: 15px;
    color: white;
}